@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  // variables
  --footer--BackgoundColor: #303030;
  --footer--FontSize: 18px;
  --footer--FontColor: #fff;

  --header--BackgoundColor: #fff;
  --header--FontSize: 20px;
  --header--FontColor: #333333;

  --Philosopher--FontFamily:  'Philosopher';
  --Ubuntu--FontFamily:  'Ubuntu';

  --color: #303030;
  --color-footer: #ffffff;
  --color-input-light-grey: #e0e0e0;
  --color-input-grey: #9a9a9a;
  --background-color-footer: #303030;
  --main-text--FontSize: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #545353;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #b7b7b7;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;

  ::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #3a3b3d;
    height: 200px;
    width: 2px;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

h1 {
  font-size: 2em;
  font-family: 'Philosopher', sans-serif;
  line-height: 1.1;
}

h2{
  font-family: 'Philosopher', sans-serif;
}

ul{
  padding: 0;
}
li{
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

p{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

hr{
  margin: 10px;
  color: #9a9a9a;
}


//@media (prefers-color-scheme: light) {
//  :root {
//    color: #213547;
//    background-color: #ffffff;
//  }
//  a:hover {
//    border-color: #848485;
//  }
//  button {
//    background-color: #f9f9f9;
//  }
//}
