@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Nunito;
  line-height: 1.5;
  font-weight: 400;
  // variables

  --color: #848485;
  --color-footer: #ffffff;
  --color-input-light-grey: #e0e0e0;
  --color-input-grey: #9a9a9a;
  --background-color-footer: #303030;
  --main-text--FontSize: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing:border-box;
}

a {
  font-weight: 500;
  color: #545353;
  text-decoration: none;
}
a:hover {
  color: #b7b7b7;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
button:hover {
  border-color: #848485;
}
button:focus,
button:focus-visible {
  outline: none;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    border-color: #848485;
  }
  button {
    background-color: #f9f9f9;
  }
}
