* {
    box-sizing: border-box;
}

@font-face {
    font-family: "SourceSerifPro-Regular";
    src: url("/fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
    font-family: "SourceSerifPro-Bold";
    src: url("/fonts/SourceSerifPro-Bold.ttf");
}

@font-face {
    font-family: "SourceSerifPro-SemiBold";
    src: url("/fonts/SourceSerifPro-SemiBold.ttf");
}

@font-face {
    font-family: "SourceSerifPro-Light";
    src: url("/fonts/SourceSerifPro-Light.ttf");
}

body {
    margin: 0;
    background-color: #fff;
}


main {
    max-width: 100%;
    max-height: 100%;


    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}
/*из contact для каркаса*/
.container {
    margin: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container2 {
    width: 923px;
    background-color: #f7f8f7;
    margin: 0 auto;
}

.about_title {
    padding-top: 28px;
    padding-bottom: 59px;
    text-align: center;
    font-size: 32px;
    font-family: "SourceSerifPro-SemiBold";
    color: rgb(134, 183, 47);
    font-weight: bold;
    line-height: 0.966;
}

.content {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}




.text14Regular{
    font-size: 14px;
    font-family: "SourceSerifPro-Regular";
    color: rgb(1, 1, 1);
    line-height: 2.208;
}
.text14SemiBold{
    font-size: 14px;
    font-family: "SourceSerifPro-SemiBold";
    font-weight: bold;
    color: rgb(1, 1, 1);
    line-height: 2.208;
}
/**/

.container_center {
    max-width: 80%;
    margin-top: 114px;
    background: #60a839;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: #000000;
}

p {
    margin-top: 0;
}
header .header_logo {
    padding-left: 25px;
}

header .header_menu {
    max-width: 70%;
    align-items: center;
}

header .header_email {
    padding-right: 25px;
    max-width:100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .img_message {
    width: 20px;
    height: 14px;
    align-items: center;
}

header div.img_email_message {
    max-width: 15%;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

header div.img_email_textmessage {
max-width: 85%;
    height: 100%;
}


header {
    margin: 0;
    max-width: 100%;
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 114px;
    border-bottom: 2px solid #3a5901;
    background-color: #86b72f;
}
.header_container{
    padding-top: 10px;
    margin: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    font-family: "Source Serif Pro-Regular";
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.9px;
    border-radius: 3px;
}

header img.logo {
    width: 94px;
    height: 92px;
}

header div.header_menu a:hover {
    border-radius: 20px;
    background-color: rgb(165, 231, 49);
}
header div.header_email a:hover{
    text-decoration: underline;
}

header a.active {
    border-radius: 20px;
    background-color: rgb(165, 231, 49);
}



@media screen and (max-width: 500px) {
    header {
        text-align: center;
    }
    .header_container{
        flex-direction: column;
    }
    
    header a {
        height: none;
        float: none;
        display: block;
        text-align: center;
    }

    .header_menu {
        text-align: center;
        float: none;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



/*FOOTER готов, но надо выравнять divы*/
footer {
    border-top: 1px solid rgb(89, 123, 25);
    background-color: rgb(210, 221, 192);
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    text-align: center;
}


.container_footer {
    max-width: 1400px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.footer_item {
    width: 300px;
    text-align: center;
}

.footer_item_title {
    font-size: 32px;
    font-family: "SourceSerifPro-Light";
    color: rgb(0, 0, 0);
    line-height: 0.966;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 18px;
}

.footer_item_content {
    font-size: 18px;
    font-family: "SourceSerifPro-Light";
    color: rgb(0, 0, 0);
    line-height: 1.717;
    text-align: center;
}
.footer_menu_item_content{
    text-align: center;
    
}

@media (max-width: 1199px) {
    footer .footer_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
    }

    footer .footer_item {
        margin: 0 auto;
    }
}