/*MAIN*/

.about_text {
    max-width: 55%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.about_text2 {
    max-width: 100%;
    margin-left: 53px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 18px;
}

.col1 {
    max-width: 20.68%;
}

.col2 {
    width: 75.5%;
}

.contact_img {
    width: 35%;
    position: relative;
   margin-right: 31px;
}
.img_office {
    
    padding-top: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}


.map {
    padding-top: 74px;
}
@media (min-width: 1920px){

   
    
}

@media (max-width: 1199px) {
    .about_text{
        max-width: 100%;
        margin: 0;
        align-items: center;
    }
    .about_text2{
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .container2 {
        max-width: 90%;
        align-items: center;
        margin: 0 auto;
    }
    .contact_img{
        width: 100%;
        margin-right: 53px;
    }
   
    .content{
        flex-direction: column;
    }
}

