h2 {
    font-size: 14px;
    font-family: "SourceSerifPro-Regular";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 2.208;
    text-align: center;
    position: absolute;
    z-index: 15;
}

.adress {
    left: 312.906px;
    top: 247.107px;

}

.email_contact {

    left: 312.453px;
    top: 281.544px;

}

.tel {

    left: 312.719px;
    top: 322.044px;

}

.adress_text {

    text-align: left;

    left: 382.578px;
    top: 255.86px;
    width: 428px;
    height: 46px;

}

.email_contact_text {

    left: 381.344px;
    top: 307.656px;

}

.tel_text {

    left: 382.312px;
    top: 352.232px;

}
.note{
    
        left: 312.453px;
        top: 423.044px;
       
      
}
.note_text{
    
    
        left: 435.546px;
        top: 429.159px;
        width: 467px;
        height: 45px;
    
      
      
}

.img_office {

    position: absolute;
    left: 842px;
    top: 228px;
    width: 310px;
    height: 175px;



}

.map {
    margin-top: 400px;
}

footer {
    margin-top: 50px;
    border-top: 1px solid rgb(89, 123, 25);
    background-color: rgb(210, 221, 192);
    top: 818px;
    max-width: 100%;
    height: 199px;
   

}



.container_footer {
    
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;

}
.footer_item {
    max-width: 300px;
   
}

.footer_item_title {
        font-size: 32px;
        font-family: "SourceSerifPro-Light";
        color: rgb(0, 0, 0);
        line-height: 0.966;
        text-align: center;  
}

.footer_item_content {
        font-size: 18px;
        font-family: "SourceSerifPro-Light";
        color: rgb(0, 0, 0);
        line-height: 1.717;
        text-align: center;   
}