/*MAIN FOR MAIN*/

.selection_begin_photo {
    position: relative;
    display: inline-block;
    margin: 0;
}


.container8 {
    max-width: 1129px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 43px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    border: 10px solid #79a42e;
    background-color: #ffffff;
    padding-bottom: 48px;
    text-align: center;

}

.img_block_advertising {
    height: 213px;
    margin-top: 9px;
}
@media screen and (max-width: 500px) {

    .begin_text {
        font-size: 18px;
    }

    .selection_begin_photo {
        background-image: url(img/main/dacha4_mobile.jpg);
    }
}