* {
    box-sizing: border-box;
}

@font-face {
    font-family: "SourceSerifPro-Regular";
    src: url("/fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
    font-family: "SourceSerifPro-Bold";
    src: url("/fonts/SourceSerifPro-Bold.ttf");
}

@font-face {
    font-family: "SourceSerifPro-SemiBold";
    src: url("/fonts/SourceSerifPro-SemiBold.ttf");
}

@font-face {
    font-family: "SourceSerifPro-Light";
    src: url("/fonts/SourceSerifPro-Light.ttf");
}

body {
    margin: 0;
    background-color: #fff;
}

  
main{
    max-width: 100%;
    max-height: 100%;
   
    
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;  
    
}
ul {
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
  }
.container_center{
    max-width: 80%;
    margin-top: 114px;
    background: #60a839;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

a:visited{
    color: #000000;
} 

p {
    margin-top: 0;
  }


header {
    overflow: hidden;
    min-height: 114px;
    border-bottom: 2px solid #3a5901;
    background-color: #86b72f;
}

header a {
    font-family: "Source Serif Pro-Regular";
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.9px;
    border-radius: 3px;
}

header img.logo {
    padding-top: 14px;
    padding-left: 19px;
    width: 150px;
    height: 87px;
}

header a:hover {
        border-radius: 20px;
        background-color: rgb(165, 231, 49);
      }
      
header a.active {
        border-radius: 20px;
        background-color: rgb(165, 231, 49);   
}

nav {
    padding-top: 35px;
    padding-bottom: 33px;
    float: right;
    padding-right: 116px;
}

@media screen and (max-width: 500px) {
    header {
        text-align: center;
    }

    header a {
        height: none;
        float: none;
        display: block;
        text-align: center;
    }

    nav {
        text-align: center;
        float: none;
    }

    .begin_text {
        font-size: 18px;
    }

    .selection_begin_photo {
        background-image: url(img/main/dacha4_mobile.jpg);
    }
}

/*MAIN FOR MAIN*/

.selection_begin_photo {
    position: relative;
    display: inline-block;
    margin: 0;
}


.begin_text {
    position: absolute;
    color: #ffffff;
    font-family: "SourceSerifPro-SemiBold";
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1.6px;
    bottom: 10px;
    left: 10px;
}

.block_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    background-color: #00463f;
    color: white;
    padding: 0;
}
.item{
    min-width: 50%;
    max-width: 80%;
    padding: 10px;
    background-color: #009688;
    text-align: center;
    padding-top: 68px;
    
  }
  .item_block_list{
      list-style: none;
      background: url(img/main/tick.png) no-repeat;
      padding-left: 24px;
      padding-bottom: 50px;
      width: 463px;
  }
  .item_item{
    font-family: "Source Serif Pro-Regular";
    color: #000000;
    font-size: 14px;
font-weight: 400;


  }
  .esclusive{
      font-family: "SourceSerifPro-SemiBold";
      color: #86b72f;
      font-size: 32px;
font-weight: 400;
text-align: center;
  }

.container8 {
    max-width: 1129px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 43px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    border: 10px solid #79a42e;
    background-color: #ffffff;
    padding-bottom: 48px;
    text-align: center;

}

.img_block_advertising {
    height: 213px;
    margin-top: 9px;
}


/*FOOTER готов, но надо выравнять divы*/
footer {
    border-top: 1px solid rgb(89, 123, 25);
    background-color: rgb(210, 221, 192);
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    text-align: center;
}


.container_footer {
    max-width: 1400px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.footer_item {
    width: 30%;
    text-align: center;
}

.footer_item_title {
    font-size: 32px;
    font-family: "SourceSerifPro-Light";
    color: rgb(0, 0, 0);
    line-height: 0.966;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 18px;
}

.footer_item_content {
    font-size: 18px;
    font-family: "SourceSerifPro-Light";
    color: rgb(0, 0, 0);
    line-height: 1.717;
    text-align: center;
}


@media (max-width: 1199px) {
    footer .footer_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
    }

    footer .footer_item {
        margin: 0 auto;
    }
}
