.calculator {
  //background: #ffffff;
  margin-top: 10px;
  background: #fafafa;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
  border-radius: 20px;
  max-width: 400px;
  height: auto;
  position: relative;
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 850px) {
    max-width: 250px;
    margin: auto;


  }

  .calculatorBlock {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    justify-content: center;

    p {
      font-weight: 700;
      margin: auto;
    }
  }

  .calculatorTitle {
    display: flex;
    flex-direction: row;

    p {
      margin-left: 7px;
    }
  }

  .calculatorCountBlock {
    display: flex;
    width: 100%;
    //margin: auto;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 500px) {
      max-width: 250px;
      flex-direction: column;
    }
  }
}
