.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;

    .LeftSide {
        .typeBlock {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            text-align: left;
            .radioGroup{
                margin-left: 15px;
                display: flex;
                flex-direction: row;
            }
        }
        .table {
            margin-bottom: 15px;
            td,
            th,
            tr {
                text-align: center;
            }
            .ant-table-cell {
                text-align: center;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                //border: none;
                width: 100%;
                td,
                th,
                tr {
                    text-align: center;
                }
                .ant-table-cell {
                    text-align: center;
                }
            }
        }
    }

    .RightSide {
        text-align: center;
        background: #ffffff;
        border: 2px solid #f5f5f5;
        box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
        border-radius: 20px;
        padding: 20px;
        height: 325px;

        button {
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
