.header-container {
    display: flex;
    height: auto;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
