/*MAIN*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");


body{
    font-family: "Montserrat", serif;
}
.about_text {
    max-width: 55%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.about_text2 {
    max-width: 100%;
    margin-left: 53px;
}



.contact_img {
    width: 100%;
    text-align: center;
    justify-content: center;    
}
.img_office {
    padding-top: 20px;
    max-width: 500px;
    height: auto;
}


.map {
    padding-top: 50px;
}

@media screen and (max-width: 1199px) {
    .about_text{
        max-width: 100%;
        margin: 0;
        align-items: center;
    }
    .about_text2{
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .container2 {
        
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
    }
    .img_office{
        width: 300px;
        height: auto;

    }
    .content{
        flex-direction: column;
    }
   
}











.archive {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,400px));
    grid-gap: 25px;
    grid-auto-flow: dense;
  }

 
  
  /* Одноколоночное отображение на мобильных */
  @media (max-width: 459px) {
    .archive {
        grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-direction: column;
    }
    
  }

  .container2{
      width: 923px;
  }

