/*MAIN FOR MAIN*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");
.selection_begin_photo {
    position: relative;
    display: inline-block;
    margin: 0;
}

@media (max-width: 425px){
    .about_title{
        font-size: 20px;
    }
}

.about_title {
    padding-top: 28px;
    padding-bottom: 59px;
    text-align: center;
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(134, 183, 47);
    font-weight: bold;
    line-height: 0.966;
}

.container8 {
    max-width: 1129px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 43px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.intro{
    padding: 20px 20px;
}

form{
    text-align: center;
    justify-content: center;
}

.submit{
    text-align: center;
    justify-content: center;
}

.submit_group{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.subm_name{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.subm_text{
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

input{
    margin-bottom: 20px;
    max-width: 300px;
    outline: 0;
}

input[type="text"]{
    text-align: center;
    width: 200px;
    height: 30px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 20px;
    
}

input[type="submit"]{
    width: 200px;
    height: 45px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 20px;
    background-image: linear-gradient(to right, #c8f151, #b9ee38, #a5e731);
    box-shadow: 0 0 4px 2px #fff;
    transition: 0.2s;
}

a input[type="submit"]:hover { background: #a3f01e; }
a input[type="submit"]:active {
    background: #a5e731;
    box-shadow: 0 2px #fafafa inset;
}


@media screen and (max-width: 500px) {
    .selection_begin_photo {
        background-image: url(img/main/dacha4_mobile.jpg);
    }
}