@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");

@media (max-width: 1199px){
        .logo_and_text {
                flex-direction: column;
                padding: 10px 10px;
        }

        .logo_and_text_img {
                padding-bottom: 20px;
                padding-right: 0px;
                text-align: center;
                justify-content: center;
        }

        .logo_and_text_text {
                max-width: 100%;
                padding: 0px;
        }

        .content_text {
                padding: 10px 10px;
        }
}



.img_logo_about {
        width: 160px;
        height: auto;
}


.about_content {
        max-width: 100%;
        padding: 20px;
        justify-content: center;
        flex-wrap: wrap;
        text-align: left;
        direction: column;
}

.logo_and_text {
        
        display: flex;
        width: 100%;
        padding-bottom: 47px;
        padding-left: 58px;
        padding-right: 58px;
}

.logo_and_text_img {     
        align-items: center;
        padding-right: 58px;
}

.logo_and_text_text {      
        text-align: left;
}

.content_text {
        padding-left: 58px;
        padding-right: 58px;
        text-align: left;
        padding-bottom: 127px;
        max-width: 100%;
}


