.card {
    background: #ffffff;
    border: 2px solid #f5f5f5;
    box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
    border-radius: 20px;
    width: 220px;
    height: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 690px) {
        height: 320px;
    }
    .img {
        width: auto;
        margin-top: 25px;
        text-align: center;
    }

    .tag {
        position: absolute;
        display: grid;
        flex-direction: column;
        row-gap: 2px;
        column-gap: 5px;
        font-size: 12px;
        color: #ffffff;
        padding: 0px 2px;
        margin-left: 13px;
        width: auto;
        height: 22px;
        overflow: hidden;
        @media screen and (max-width: 690px) {
            p{

            font-size: 12px;
            }
        }
    }
    .tag:hover {
        z-index: 100;
        overflow: visible;
    }

    .heart {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #989898;
        z-index: 100;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    .description {
        font-size: 12px;
        color: #999;
        padding-right: 7px;
        @media screen and (max-width: 690px) {
            //height: 20px;
            overflow: hidden;
        }
    }

    .priceBlock {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 13px;
        right: 0px;
        bottom: 9px;
        justify-content: space-between;
        position: absolute;

        .price {
            font-size: 18px;
            font-weight: 500;
        }

        .priceOld {
            text-decoration: line-through;
            font-size: 14px !important;
            font-weight: 500;
            color: #910e0e;
        }
    }

    @media screen and (max-width: 500px) {
        width: 200px;
    }
}
