.container {
    .Block{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;

        @media screen and (max-width: 850px) {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
    }
    .LeftBlock{
        width: auto;
        p{
            width: auto;
        }
        .markdown{
            display: flex;
            flex-wrap: wrap;
            word-break:break-all;

        }
    }

    .RightBlock{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        justify-items: center;
    }
    p {
        line-height: 1.8;

        strong {
            font-weight: 600;
        }
    }
    .productsApplicationCollapse {
        margin-top: 10px;
    }

    .productsList {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 20px;

        @media screen and (max-width: 500px) {
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
    }
}
