.wrapper {
    display: flex;
    width: 90%;
    margin: auto;
    //justify-content: center;

    .hamburgerMenu {
        width: 100%;
        z-index: 120;

        .logoContainer {
            display: flex;
            justify-content: center;
            margin: auto;

            .logo {
                width: 120px;
            }
        }
        #menuToggle {
            opacity: 0;
        }

        #menuToggle:checked ~ .menuBtn > span {
            transform: rotate(45deg);
        }
        #menuToggle:checked ~ .menuBtn > span::before {
            top: 0;
            transform: rotate(0);
        }
        #menuToggle:checked ~ .menuBtn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menuToggle:checked ~ .menuBox {
            visibility: visible;
            left: 0;
        }

        .menuBtn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            left: 20px;

            width: 26px;
            height: 26px;

            cursor: pointer;
            z-index: 1;
        }

        .menuBtn > span,
        .menuBtn > span::before,
        .menuBtn > span::after {
            display: block;
            position: absolute;

            width: 100%;
            height: 2px;

            background-color: #616161;

            transition-duration: 0.25s;
        }
        .menuBtn > span::before {
            content: '';
            top: -8px;
        }
        .menuBtn > span::after {
            content: '';
            top: 8px;
        }

        .menuBox {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;

            width: 100%;
            height: 100%;

            margin: 0;
            padding: 60px 0;

            list-style: none;

            background-color: #eceff1;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

            transition-duration: 0.25s;
            .menuItemContainer {
                width: 100%;

                button {
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-right: 43px;

                    a {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        font-size: var(--header--FontSize);
                        color: var(--header--FontColor);
                        font-family: var(--Philosopher--FontFamily);
                    }
                }
            }
            .menuItem {
                display: flex;
                align-items: center;
                text-align: center;
                padding: 12px 24px;
                flex-direction: row;
                color: #333;

                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;

                text-decoration: none;

                transition-duration: 0.25s;
            }
            .menuItem:hover {
                background-color: #cfd8dc;
            }
        }
    }

    //

    .header {
        display: grid;
        width: 100%;
        //margin: auto;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: '. . .';

        background-color: var(--header--BackgoundColor);

        //@media screen and (max-width: 1000px) {
        //  display: flex;
        //  flex-direction: column;
        //  justify-content: center;
        //
        //}

        .headerItem {
            display: flex;
            flex-direction: row;
            //margin: auto;
            align-items: center;
            //text-align: center;
            justify-content: space-between;

            .headerItemLogo {
                margin: auto;
            }

            button {
                background: none;
                border: none;
                display: flex;
                align-items: center;
                text-align: center;
                margin-right: 43px;

                a {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-size: var(--header--FontSize);
                    color: var(--header--FontColor);
                    font-family: var(--Philosopher--FontFamily);
                }
            }
        }

        .headerLeftItem {
            justify-content: left;
            //@media screen and (max-width: 1000px) {
            //  justify-content: center;
            //}
        }

        .headerRightItem {
            align-content: center;
            justify-content: right;
            //@media screen and (max-width: 1000px) {
            //  justify-content: center;
            //}

            .rightButton {
                margin-right: 0px;
            }
            div {
            }
        }

        .logo {
            width: 150px;

            @media screen and (max-width: 500px) {
                margin: auto;
            }
        }
    }
}

//button {
//  background: none;
//  border: none;
//  display: flex;
//  align-items: center;
//  text-align: center;
//  margin-right: 43px;
//
//  a {
//    display: flex;
//    align-items: center;
//    text-align: center;
//    //font-size: var(--header--FontSize);
//    color: var(--header--FontColor);
//    font-family: var(--Philosopher--FontFamily);
//  }
//}
