.header{
  min-height: 50px;
  display: grid;
  width: 100%;
  margin: 20px;
  align-items: center;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";

  font-size: 1.2em;
  color: #2d2d2d;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;

  }
  .headerItem{

    ul {
      margin: 0; /* Обнуляем значение отступов */
      padding: 4px; /* Значение полей */

      li {
        display: inline-block;
        list-style: none;
        padding: 10px;

        div{
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-column-gap: 7px;
          align-items: center;
        }
      }}
    .logo {
      width: 100px;
      @media screen and (max-width: 500px) {
        margin: auto;

      }
    }

    .headerItemRight{

        ul {
          margin: 0; /* Обнуляем значение отступов */
          padding: 4px; /* Значение полей */

          li {
            display: inline-block;
            list-style: none;
            padding: 10px;
          }


        }

    }
  }
}
