.header{
  display: grid;
  width: 100%;
  margin: 20px;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". . .";

  align-items: center;
  text-align: center;


  background-color: var(--header--BackgoundColor);


  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;

  }
  .headerItem{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;

    }

    button{
      background: none;
      border: none;
      display: flex;
      align-items: center;
      text-align: center;
      margin-right: 43px;

      a{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: var(--header--FontSize);
        color: var(--header--FontColor);
        font-family: var(--Philosopher--FontFamily);

      }
    }

  }
    .logo {
      width: 150px;
      @media screen and (max-width: 500px) {
        margin: auto;

      }
    }


}
