.cartItem{
  display: grid;
  grid-template-columns: 150px 3fr;
  margin: 15px;
  padding: 10px;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
  border-radius: 20px;
  height: 170px;

  .blockImage{
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .blockMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .blockInfo{
      margin-top: 5px;
      text-align: left;
      align-items: flex-start;

      .price{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
      }

      .blockInput{
        margin: 15px 0 10px 0;
        display: flex;
        flex-direction: row;
    

      input{

    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
      }
    }  }

    .blockButtons{
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      margin: 10px;
    }
  }

}