  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    grid-template-areas:
    "f ."
    "f .";

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    .cartItems {
      grid-area: f;
      background: #FFFFFF;
      border: 2px solid #F5F5F5;
      box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
      border-radius: 20px;

      .cartClear {
        text-align: center;
      }


    }

    .cartBlockInfo {
      text-align: center;
      background: #FFFFFF;
      border: 2px solid #F5F5F5;
      box-shadow: 0px 4px 4px 1px rgba(211, 211, 211, 0.25);
      border-radius: 20px;
      padding: 20px;
      //height: 250px;

      .cartBlockInfoImage{
        text-align: left;
        margin: 10px 0px 10px 0px;
      }
    }

  }



