
.container{
    @media screen and (max-width: 500px) {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}
