.wpapper{
  width: 90%;
  margin-top: 20px;

  .form{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }



}
