.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;

    .searchInput {
        height: 40px;

        //input{
        //    height: 30px;
        //}
        //
        //button{
        //    height: 30px;
        //}

        span {
            height: 40px;
            input {
                height: 40px;
            }
            span {
                height: 40px;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    margin: auto;
                    justify-items: center;
                    align-self: center;
                    justify-self: center;
                    height: 40px;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        margin: auto;
                        justify-items: center;
                        align-self: center;
                        justify-self: center;

                        svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            margin: auto;
                            justify-items: center;
                            align-self: center;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}
